<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/manager/customer/show}">
   <input type = "text" name = "email" placeholder="Введите ваш email ">
  <input type="text" name="login" placeholder="Введите ваш логин">
  <input type="text" name="name" placeholder="Введите ваш name">
  <input type="text" name="password" placeholder="Введите ваш password">
  <br/>
  <input type="submit" value="Create!"/>
</form>

<a href = "/manager/customer">Link to Customers</a>

</body>
</html>
