<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/edit}">
    <label>
        <input type="text" name="login" placeholder="Введите ваш login">
    </label>
    <label>
        <input type="text" name="name" placeholder="Введите ваш name">
    </label>
    <label>
        <input  type="text" name="email" placeholder="Введите ваш email">
    </label>

    <br/>
  <input type="submit" value="Create!"/>
</form>


</body>
</html>